{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": false,
    "experimentalOperatorPosition": "end",
    "experimentalTernaries": false,
    "printWidth": 100,
    "quoteProps": "as-needed",
    "semi": false,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "useTabs": false,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
